body{
  font-family: Arial, sans-serif;
  background-color: rgba(154, 154, 154, 0.33);
}

h1{
  font-size: 38px;
}

h2{
  font-size: 32px;
}

.ingredients-list {
  list-style: square inside;
}

ol.d{
  list-style: circle inside;
}

header > img{
  width: 100px;
}

ul li a{
  text-decoration: none;
  color: inherit;
}

.user_review{
  font-family: cursive;
  font-size: 15px;
  font-weight: lighter;
  font-style: italic;
  color: #3f51b5;
}

